body {
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	font-weight: 400;
	font-family: "Roboto", Arial, sans-serif;
 }
h1 {
	font-size: 55px;
	line-height: 55px;
	color: #000000;
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;	
 }
h2 {
	font-size: 45px;
	line-height: 45px;
	color: #000000;
	font-weight: 500;
	font-family: "Roboto", Arial, sans-serif;
 }
 .clearfix::after {
 	content: "";
 	display: table;
 	clear: both;
 }
 .container {
	width: 1160px;
	margin-left: auto;
	margin-right: auto;
 }
 .top-title {
	background-color: #eeeeee;
 }
 .bottom-title {
	background-color: #eeeeee;
 }
 .logo {
	float: left;
	width: 160px;
 }
 .main-menu {
	float: left;
	width: 840px;
	margin: 0;
	padding: 0;
	text-align: center;
 }
 .main-menu li {
	display: inline-block;
	vertical-align: top;
 }
 .user-block {
	float: right;
  	width: 160px;
 }
 .title-left {
	float: left;
	width: 400px;
 }
 .title-right {
  	float: right;
 	width: 760px;
 }
 .feature-item {
	float: left;
	width: 300px;
	margin-top: 80px;
	margin-right: 100px;
	margin-bottom: 80px;
 }
 .feature-item:last-child {
	margin-right: 60px;
}
 .features-left {
	float: left;
	width: 660px;
	margin-right: 140px;
}
.features-right {
	float: right;
	width: 360px;
}
.column-item {
	float: left;
	width: 120px;
}
.column {
	width: 340px;
	margin-left: auto;
	margin-right: auto;
}
.column-item {
	width: 120px;
}
.logo-item {
	float: left;
	width: 260px;
	margin-right: 40px;
}
 .logo-item:last-child {
	margin-right: 0;
}
.footer {
	margin-top: 70px;
}
.footer-icon {
	float: left;
	width: 260px;
	margin-right: 140px;
}
.footer-friendship {
	float: right;
	width: 560px;
	margin-right: 200px;
}